.Textonosotros {
    text-align: center;
    margin: 1rem;
    color: #004d55;
}

.linea-rosa {
  width: 50px;           
  height: 4px;          
  background-color: #f2a88d;
  border: none;         
  opacity: 1;            
  margin-top: 5px;      
  margin-left: 15px;     
  margin-bottom: 0;
  margin-left: 1rem;
}

.nuestra-mision {
    display: flex;
    margin-left: 1rem;
}

.nuestra-mision img {
    
    height: 70px;
    
}
h3 {
    color: #004d55;
    margin-left: 1rem;
}
.ImagenNosotros {
   
    margin-left: 10rem;
}

p {
    font-size: 12px;
    font-weight: bold;
    color: #004d55;
}

@media (max-width: 800px) {
.ImagenNosotros {
    margin: 0 auto;
    width: 100%;
    margin-left: 0rem;
}

   .Flexmedia {
    flex-direction: column !important;
   }
   .Textonosotros {
    max-width: 100%;
   }
}

@media (min-width: 800px) and (max-width: 1300px) {
    .ImagenNosotros {
        
        align-items: center;
      
    }
     .Flexmedia {
    flex-direction: column !important;
   }
}
