.MensajeTexto {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #004d55;
  color: white;
  padding: 15px;
  border-radius: 10px;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  z-index: 9999;
  font-weight: bold;
  animation: fadeIn 0.3s ease-in-out;
} 

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px); 
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}